<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIndentifier</key>
			<string>org.yorkxin.safariextz.no-per-script-font</string>
			<key>Developer Identifier</key>
			<string>CVAXVH2B58</string>
			<key>CFBundleVersion</key>
			<string>1</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0</string>
			<key>URL</key>
			<string>https://github.com/downloads/chitsaou/no-per-script-font/no-per-script-font-safari-v1.0.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
